@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,800;1,200&display=swap');

@import "vars";
@import "extends";

* {
  margin: 0;
  padding: 0;
  outline: none;
  }

body {
  background:#9cf;
  font-family: 'Merriweather', sans-serif;
  font-size: 13px;
}

a {
  //text-decoration: none;
  color:$textMainColor;
  transition: color 400ms ease;
  &:hover {
    color:$mainColor;
  }
}


.header-intro {
  @extend   %container;
  width:900px;
  margin: 30px auto;
  display: flex;

  .img-ava {
    margin-right: 20px;
    margin-top: 7px;
    img {
      width:250px;
      background:#9cf;
      border: 1px solid silver;
    }
  }

  .about {
    h1 {
      font-size: 28px;
    }

    .prof {
      margin-bottom: 20px;
      color: $textMainColor;
      font-weight: bold;
      font-size: 15px;
    }

    .aout-text {
      line-height: 150%; //120% def
      text-align: justify;
    }

    .info {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;

      >div {
        display: flex;
        flex-basis: 50%;
        margin-bottom: 10px;

        span {
          margin-right: 10px;
          color: #666;
        }

        a.social {
          margin-right: 5px;
          position: relative;
          top:-5px;
        }

        i {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background: #eee;
          text-align: center;
          line-height: 30px; //выровнять по вертикале с помощью этого
          color:#000;
          font-size: 14px;
          cursor: pointer;

          &:hover {
            color: $mainColor;
          }
        }
      } //>div
    } //info
  } //about
}//block header-intro

h2 {
  width: 300px;
  padding: 10px;
  display: block;
  margin: 35px auto 30px;
  background: #eee;
  border-radius: 20px;
  text-transform: uppercase;
  color: $mainColor;
  font-weight: bolder;
  font-size: 26px;
  text-align: center;
}

.skills {
  @extend  %container;
  width:900px;
  margin: 0 auto;

  >p {
    color: $textMainColor;
    margin-bottom: 15px;
  }

  ul {
    line-height: 200%; //120% def
    margin-left: 20px;
    list-style-position: inside;
    column-count: 2;
    //list-style-type: decimal;
  }
}

.portfolio {

  width: 940px;
  display: flex;
  margin: 50px auto;

  div:not(:last-of-type) {
    margin-right: 15px;
  }

  div {
    @extend %container;
    width: 290px;

    a {
      text-decoration: none;
      color:#000;
    }

    h3 {
      display: block;
      position: relative;
      top:-40px;
      width: 200px;
      margin: 0 auto;
      padding: 10px 0;
      border-radius: 10px;
      text-align: center;
      background: $mainColor;
      color:#fff;
      &:hover{
        color:$textMainColor;
      }
    }

    p {
      position: relative;
      top:-20px;
    }

    img {
      max-width: 100%;
      position: relative;
      &:hover {
        top:5px;
      }
    }
  }
}

footer {
  width: 900px;
  display: block;
  text-align: right;
  margin: 20px auto 0;
  padding: 20px 0;
  border-top: 1px solid $mainColor;
}
